<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MercadoLiebre</title>
        <link rel="stylesheet" href="/css/styles.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" >
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/d527a23742.js" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <header class="main-header">

            <div class="header-top">

                    <div class="logo">
                        <a href="/"><img src="/img/logo-mercado-liebre.svg"></a>
                    </div>
                    
                    <form action="/login" method="post" class="searchbox">
                        <input type="text" name="search" placeholder="Buscar productos, marcas">
                        <i class="fas fa-search lupa"></i>
                    </form>

                    <h2 class="header-subtitle"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</h2>

            </div>

            <nav class="nav">

                <ul class="nav-left">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="nav-right">
                    <li><a href="/register">Creá tu cuenta<i class="far fa-id-card"></i></a> </li>
                    <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a> </li>
                    <li><a href="#">Mis compras<i class="fas fa-shopping-basket"></i></a> </li>
                </ul>

            </nav>

            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>

        </header>

        <form action="/login" method="post" class="login-form">

            <div class="form-item">
                <label>Nombre de usuari@:</label>
                <input type="text" name="nombre-usuario" placeholder="(sin espacios)" class="inputbox">
            </div>
            <div class="form-item">
                <label>Ingresar contraseña:</label>
                <input type="password" name="password" class="inputbox">
            </div>
            <div class="login-buttons">
                <button type="reset">Borrar</button>
                <button type="submit">Ingresar</button>
            </div>
        </form>

        <footer class="footer">

            <section>

                <article>
                    <i class="fas fa-credit-card"></i>
                    <h4>Pagá con tarjeta o en efectivo</h4>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
                </article>

                <article>
                    <i class="fas fa-gift"></i>
                    <h4>Envío gratis desde $ 2.500</h4>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
                </article>

                <article>
                    <i class="fas fa-user-shield"></i>
                    <h4>Seguridad, de principio a fin</h4>
                    <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
                </article>

            </section>

            <p class="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

        </footer>
    </body>
</html>